<!DOCTYPE HTML>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<body>
<section class="jumbotron text-center d-flex aling-items-center h-100" layout:fragment="pageHead">
    <div class="container align-self-center">
        <h1 class="jumbotron-heading">PARTS (компьютерные комплектующие)</h1>
        <p class="lead text-muted">Проект Java + Spring boot framework <br/>созданный в рамках тестового задания онлайн курса Java - <a href="https://javarush.ru">JavaRush</a>, для прохождения стажировки.</p>
        <p>
            <a href="https://github.com/vladmeh/javaRushTestTask" class="btn btn-primary my-2">Скачать на GitHub</a>
        </p>
        <p>
            <a th:href="@{/parts}" class="btn btn-outline-info btn-lg my-3">Перейти к списку комплектующих</a>
        </p>
    </div>
</section>
</body>
</html>